<%- include('partials/header')  %>
    <h1>
        <%= title %>
    </h1>

    <script src="/socket.io/socket.io.js"></script>

    <!-- Vaja on tekstivälja, nuppu ning ühte elementi veel, kuhu sõnumid tekitada -->
    <ul id="messages"></ul>
    <br>
    <input type="text" id="txt">
    <button id="send">Send</button>
    
    <script>
      var socket = io();
      
      var name = prompt("Nimi?");
      socket.emit('name', name);
      // elemendid muutujatesse
      var chat = document.getElementById("messages");
      var txt = document.getElementById("txt");
      var sendBtn = document.getElementById("send");
    
      // nupu funktsioon
      sendBtn.addEventListener("click", function(e) {
          // saadab teate nimega "chat" serverisse, selle peame serveri pool vastu võtma, et kõikidele klientidele edastada
          socket.emit('chat', txt.value);
          // tekstivälja sisu tühjaks
          txt.value = "";
      });
    
      // selle funktsiooni abil võtma serveri poolt vastu teateid nimega 'chat'
      socket.on('chat', function(msg) {
          // ning lisame saadud teate kõikide teiste teadete hulka
          chat.innerHTML += '<li>' + msg.name + ': ' + msg.text + '</li>';
      });

      socket.on('join', function(msg) {
          chat.innerHTML += '<li style="font-style: italic;">' + msg + '</li>';
      });
    </script>
    </body>

    </html>